@model Revenda.Models.AccountSubClass

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Sub-Grupos de Conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountClasses.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountClasses.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubGroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AccountSubClassId }, new { @class = "btn btn-warning btn-sm" })
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-success btn-sm" })
</p>
