@model IEnumerable<Revenda.Models.Entry>

@{
    ViewBag.Title = "Index";
}

<h2>Lançamentos</h2>

<p>
    @Html.ActionLink("Novo Lançamento", "Create", new { }, new { @class = "btn-primary btn-sm" })
</p>
<table id="lancamentos" class="table table-bordered table-condensed table-striped table-hover table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.EntryId },
                                new
                                {
                                    @class = "btn btn-warning btn-sm glyphicon glyphicon-edit",
                                    data_toggle = "tooltip",
                                    data_placement = "top",
                                    title = "Editar Registro"
                                })
                    @Html.ActionLink(" ", "Details", new { id = item.EntryId },
                                new
                                {
                                    @class = "btn btn-info btn-sm glyphicon glyphicon-th-list",
                                    data_toggle = "tooltip",
                                    data_placement = "top",
                                    title = "Detalhes do Registro"
                                })
                    @Html.ActionLink(" ", "Delete", new { id = item.EntryId },
                                new
                                {
                                    @class = "btn btn-danger btn-sm glyphicon glyphicon-trash",
                                    data_toggle = "tooltip",
                                    data_placement = "top",
                                    title = "Excluir o Registro"
                                })

                    @*@Html.ActionLink(" ", "ReportForm", new { id = item.EntryId, source="Entries" },
                               new
                               {
                                   @class = "btn btn-primary btn-sm glyphicon glyphicon-print",
                                   data_toggle = "tooltip",
                                   data_placement = "top",
                                   title = "Imprimir Lançamento"
                               })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Mascaras")

    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('#lancamentos').DataTable({
                dom: "<lf<t>ip>",
                "lengthMenu": [[8, 25, 50, -1], [8, 25, 50, "Todos"]],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
            });
        });

    </script>
}